.page-page {
  padding: 96px 128px;
}

.page-page .page-result {
  max-width: 50%;
  border: 1px solid black;
  padding: 20px 40px;
  border-radius: 20px;
}

.page-page .page-result h1 {
  font-size: 64px;
}

.page-page .page-result img {
  margin: 20px 0;
}

.page-page .page-result li strong {
  width: 100px;
}
